@import "../../responsive.scss";
@import "../../easyrentals-theme.scss";

.listPage {
  display: flex;
  height: 100%;
  background-color: $background-light;

  .listContainer {
    flex: 3;
    height: 100%;

    .wrapper{
      height: 100%;
      padding: 20px 40px 50px 20px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      overflow-y: scroll;
      
      @include md {
        padding: 20px;
      }
      
      @include sm {
        padding: 15px;
      }
    }
  }
  
  .mapContainer {
    flex: 2;
    height: 100%;
    background-color: white;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.05);
    position: relative;

    @include md{
      display: none;
    }
  }
}
